.Hello {
    color: blue;
}
#love {
    color: red;
    font-style: italic;
}
* {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    font-size: 40px;
    
}
.kagrupo {
    color: green;
    font-weight: bold;
}

*{
    padding: 10;
    margin: 10;
}

p {
    background-color: slategrey;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body h2 {
    background-color: aquamarine;
    font-family: cursive;
}

body h2:hover {
    text-decoration: underline;
}

body h2::before {
    content: "Members:";
}